<footer class="footer d-flex justify-content-between px-4 py-2 align-items-center">
  <div class="footer-copyright">Copyright Van Trong © 2021</div>
  <div class="footer-contact d-flex align-items-center">
    <span class="me-3">Contact me: </span>
    <ul class="contact-list d-flex align-items-center">
      <li class="contact-item">
        <a href="https://www.facebook.com/votrong143/"> <i class="fab fa-facebook"></i></a>
      </li>
      <li class="contact-item">
        <a href="mailto: 6151071109@st.utc2.edu.vn"> <i class="fas fa-envelope"></i></a>
      </li>
      <li class="contact-item">
        <a href="https://github.com/vanntrong"> <i class="fab fa-github-alt"></i></a>
      </li>
    </ul>
  </div>
</footer>
</div>
</body>
    <!-- bootstrap script -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
      integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
      crossorigin="anonymous"
    ></script>
    <!-- slick slider -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <!-- script -->
    <script type="module" src="/script/action.js"></script>
    <script type="module" src="/script/exports.js"></script>
    <script type="module" src="/script/app.js"></script>
  </body>
</html>