<%- include("./partials/header") %>

<div class="banner position-relative">
  <div class="banner-wrapper w-100 position-absolute top-50 start-50 d-flex align-items-center justify-content-around">
    <div class="banner-content"></div>
    <div class="banner-image"></div>
  </div>
</div>

<main class="main">
  <div class="movie-wrapper pt-4 ps-2">
    <h3 class="section-heading mb-3 ps-3">Trending Movies</h3>
    <ul class="list-movie" id="trending-movie"></ul>
  </div>
  <div class="movie-wrapper pt-4 ps-2">
    <h3 class="section-heading mb-3 ps-3">Popular Movies</h3>
    <ul class="list-movie" id="popular-movie"></ul>
  </div>
  <div class="movie-wrapper pt-4 ps-2">
    <h3 class="section-heading mb-3 ps-3">Top Rated Movies</h3>
    <ul class="list-movie" id="top-rated-movie"></ul>
  </div>
  <div class="movie-wrapper pt-4 ps-2">
    <h3 class="section-heading mb-3 ps-3">Trending TV</h3>
    <ul class="list-movie" id="trending-tv"></ul>
  </div>
  <div class="movie-wrapper pt-4 ps-2">
    <h3 class="section-heading mb-3 ps-3">Popular TV</h3>
    <ul class="list-movie" id="popular-tv"></ul>
  </div>
  <div class="movie-wrapper pt-4 ps-2">
    <h3 class="section-heading mb-3 ps-3">Top Rated TV</h3>
    <ul class="list-movie" id="top-rated-tv">
      <li class="item-movie pb-2">
        <a href="#">
          <div class="item-image">
            <img src="https://image.tmdb.org/t/p/w200/4j0PNHkMr5ax3IA8tjtxcmPU3QT.jpg" alt="" />
          </div>
          <h3 class="movie-heading-small ps-2 pt-2">Spider-Man: Far From Home</h3>
        </a>
      </li>
      <li class="item-movie pb-2">
        <a href="#">
          <div class="item-image">
            <img src="https://image.tmdb.org/t/p/w200/4j0PNHkMr5ax3IA8tjtxcmPU3QT.jpg" alt="" />
          </div>
          <h3 class="movie-heading-small ps-2 pt-2">Spider-Man: Far From Home</h3>
        </a>
      </li>
      <li class="item-movie pb-2">
        <a href="#">
          <div class="item-image">
            <img src="https://image.tmdb.org/t/p/w200/4j0PNHkMr5ax3IA8tjtxcmPU3QT.jpg" alt="" />
          </div>
          <h3 class="movie-heading-small ps-2 pt-2">Spider-Man: Far From Home</h3>
        </a>
      </li>
      <li class="item-movie pb-2">
        <a href="#">
          <div class="item-image">
            <img src="https://image.tmdb.org/t/p/w200/4j0PNHkMr5ax3IA8tjtxcmPU3QT.jpg" alt="" />
          </div>
          <h3 class="movie-heading-small ps-2 pt-2">Spider-Man: Far From Home</h3>
        </a>
      </li>
      <li class="item-movie pb-2">
        <a href="#">
          <div class="item-image">
            <img src="https://image.tmdb.org/t/p/w200/4j0PNHkMr5ax3IA8tjtxcmPU3QT.jpg" alt="" />
          </div>
          <h3 class="movie-heading-small ps-2 pt-2">Spider-Man: Far From Home</h3>
        </a>
      </li>
      <li class="item-movie pb-2">
        <a href="#">
          <div class="item-image">
            <img src="https://image.tmdb.org/t/p/w200/4j0PNHkMr5ax3IA8tjtxcmPU3QT.jpg" alt="" />
          </div>
          <h3 class="movie-heading-small ps-2 pt-2">Encanto</h3>
        </a>
      </li>
      <li class="item-movie pb-2">
        <a href="#">
          <div class="item-image">
            <img src="https://image.tmdb.org/t/p/w200/4j0PNHkMr5ax3IA8tjtxcmPU3QT.jpg" alt="" />
          </div>
          <h3 class="movie-heading-small ps-2 pt-2">Encanto</h3>
        </a>
      </li>
      <li class="item-movie pb-2">
        <a href="#">
          <div class="item-image">
            <img src="https://image.tmdb.org/t/p/w200/4j0PNHkMr5ax3IA8tjtxcmPU3QT.jpg" alt="" />
          </div>
          <h3 class="movie-heading-small ps-2 pt-2">Encanto</h3>
        </a>
      </li>
      <li class="item-movie pb-2">
        <a href="#">
          <div class="item-image">
            <img src="https://image.tmdb.org/t/p/w200/4j0PNHkMr5ax3IA8tjtxcmPU3QT.jpg" alt="" />
          </div>
          <h3 class="movie-heading-small ps-2 pt-2">Encanto</h3>
        </a>
      </li>
    </ul>
  </div>
</main>

<%- include("./partials/footer") %>
