@media screen and (max-width: 1480px) {
  .episode-list {
    grid-template-columns: repeat(4, 1fr);
  }
  .result-list {
    grid-template-columns: repeat(6,1fr);
  }
}

@media screen and (max-width: 1220px) {
  .episode-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 991px) {
  .episode-list {
    grid-template-columns: repeat(2, 1fr);
  }
  .result-list {
    grid-template-columns: repeat(4,1fr);
  }
}

@media screen and (max-width: 1025px) {
  .iframe-box,
  .iframe-box-tv {
    height: 500px;
  }
  .movie-desc-medium {
    text-align: left;
  }
}

@media screen and (max-width: 740px){
  .result-list {
    grid-template-columns: repeat(3,1fr);
  }
}
@media screen and (max-width: 610px){
  .result-list {
    grid-template-columns: repeat(2,1fr);
  }
}
@media screen and (max-width: 376px) {
  .iframe-box,
  .iframe-box-tv {
    height: 300px;
  }
  .pt-custom {
    padding-left: 10px;
    padding-right: 10px;
  }
  .movie-desc-watch {
    text-align: left;
  }
  .episode-list {
    grid-template-columns: repeat(1, 1fr);
  }
  .episode-item a {
    padding-right: 20px;
  }
  .tv-info {
    flex-direction: column;
  }
  
}
@media screen and (max-width: 1025px) {
  .footer {
    flex-direction: column;
  }
}
