body {
  font-family: "Poppins", sans-serif;
  color: var(--text-color);
  overflow-x: hidden;
  width: 100%;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* -----------variable--------- */
:root {
  --main-color: #1f1f1f;
  --text-color: #e5e7eb;
  --second-color: #ff4112;
  --third-color: #222222;
}
/* #e5e7eb */
/* ------------base---------- */

.pt-custom {
  padding-top: 60px;
  padding-left: 95px;
  padding-right: 95px;
}

.hidden {
  display: none !important;
}

.movie-heading {
  font-size: 48px;
  font-weight: 500;
}

.movie-heading-medium {
  font-size: 36px;
  margin-bottom: 0.5rem;
}

.movie-heading-small {
  font-size: 16px;
  font-weight: 400;
  color: var(--text-color);
  line-height: 1.5;
}

.movie-desc {
  font-size: 20px;
  line-height: 1.5;
  text-align: justify;
  font-weight: 300;
}

.movie-desc-medium {
  font-size: 18px;
  line-height: 1.2;
  text-align: justify;
}

.movie-watch {
  background-color: var(--main-color);
  color: var(--text-color);
}

/* -------------button--------- */

.btn-search {
  font-size: 24px;
  color: white;
}
.btn-search:hover {
  color: red;
}
.btn-control-movie {
  display: inline-block;
  background-color: var(--main-color);
  color: var(--text-color);
  padding: 15px 20px;
  border-radius: 8px;
  transition: all linear 0.25s;
}

.btn-control-movie:hover {
  color: var(--text-color);
  background-color: #0c0c0c;
}
/* -----------header------------ */
.header {
  padding: 10px 16px;
  width: 100%;
  transition: background-color linear 0.25s;
}
input[name="searchName"] {
  display: inline-block;
  height: 45px;
  width: 300px;
  /* background: #1A1A1A; */
  border: 0;
  outline: none;
  padding: 0 10px;
  transition: all ease 0.5s;
}

/* -----------banner---------- */
.banner {
  background-repeat: no-repeat;
  background-position: 50% center;
  background-size: cover;
  height: 100vh;
}

.banner-wrapper {
  transform: translate(-50%, -50%);
}

.banner-content {
  flex: 1;
  max-width: 600px;
}
.banner-image {
  flex-shrink: 0;
}

/* ------------main------------- */
.main {
  background-color: var(--main-color);
  padding-bottom: 60px;
  height: 100%;
}

.list-movie {
  margin: 0;
  padding: 0;
}

.section-heading {
  font-size: 24px;
  font-weight: 400;
}

.item-movie {
  background-color: #1a1a1a;
  border-radius: 8px;
  transition: all linear 0.25s;
}

.item-movie:hover {
  background-color: #0c0c0c;
}

.item-movie:hover .movie-heading-small {
  color: red;
}

.item-image img {
  border-radius: 8px;
}

/* -----------footer------------- */
.footer {
  background-color: #2a2a2a;
}

.contact-list {
  gap: 0 25px;
}
.contact-item a {
  color: white;
  font-size: 24px;
}

/* ---------------slider----------- */
/* the slides */
.slick-slide {
  margin: 0 15px;
  max-width: 200px;
  height: 370px;
}
/* the parent */
.slick-list {
  margin: 0 -15px;
}
.slick-slider {
  position: relative;
  overflow-x: hidden;
}
.slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  border: 0;
  background-color: transparent;
  color: red;
  font-size: 50px;
}
.slick-prev {
  left: 10px;
}
.slick-next {
  right: 10px;
}

.main-search {
  height: 100%;
}

.form-wrapper {
  margin-top: 200px;
}

.form-input input {
  background-color: #1a1a1a;
  color: var(--text-color);
  padding: 30px 16px;
  border-radius: 8px;
  width: 100%;
}

.form input::placeholder {
  color: #999;
}

.main-result {
  height: 100%;
  padding: 100px;
}

.result-list {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-gap: 20px;
}

/* loading */
.load {
  width: 100%;
  height: 100%;
  background-color: var(--main-color);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100000000;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
