.iframe-box,
.iframe-box-tv {
  height: 800px;
  margin-top: 50px;
}

.movie-heading-watch {
  font-size: 24px;
}

.movie-heading-watch a {
  color: var(--text-color);
}

.movie-heading-watch a:hover {
  color: var(--second-color);
}

.movie-info {
  max-width: 800px;
}

.movie-desc-watch {
  font-size: 16px;
}

.tv-info {
  margin-top: 50px;
  gap: 0 30px;
}
.tv-content {
  flex: 1;
  max-width: 600px;
}
.tv-image {
  flex-shrink: 0;
}
.genre {
  max-width: 260px;
}

.tv-sub-left,
.tv-sub-right {
  gap: 4px 0;
}

.active {
  background-color: var(--second-color) !important;
}

.episode-wrapper {
  background-color: var(--third-color);
  padding: 30px 30px 40px;
  margin: 30px auto 0;
  max-width: 1550px;
  position: relative;
}

.dropdown {
  cursor: pointer;
  max-width: 180px;
}

.dropdown h3 {
  font-size: 18px;
  user-select: none;
}

.season-list {
  width: 117px;
  border-radius: 8px 0 0 8px;
  overflow-x: hidden;
  overflow-y: scroll;
  max-height: 150px;
  position: absolute;
}

.season-item {
  width: 100px;
}

.season-item button {
  border: none;
  outline: none;
  width: 100%;
  padding: 6px 6px;
}

.season-item button:hover {
  background-color: #999;
}

.episode-list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px 10px;
}

.episode-item a {
  display: inline-block;
  padding: 10px 50px 10px 10px;
  background-color: #292929;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 235px;
  width: 235px;
  white-space: nowrap;
  color: var(--text-color);
  font-weight: 300;
}

.episode-item a i {
  font-size: 12px;
}

.episode-item:hover a {
  background-color: #363636;
}
